{% extends 'base.html' %}
{% if messages %}
    <div class="container-fluid">
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
{% block content %}
<div class="container text-center">
	<h2 class="top-head">Treatments</h2>
	<!--Filter instructions-->
    <form action="{% url 'products' %}" method="GET">
	<p>You can search for treatments by muscle group or using 'Search' in the navigation bar.</p>
	<div class="row">
		<div class="col-sm-12">
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-danger"><i class="fa fa-child"></i> Body Part</button>
                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        {% for product in products %}
                        <a class="dropdown-item" href="#">{{product.part}}</a>
                        {% endfor %}
                    </div>
                </div>
        </div>
	</div>
</form>
</div>
<hr>
<div class="card-deck">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3 my-2">
        <div class="card h-100">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <div class="card-body">
                        <a href="{% url 'detail' product.id %}"><h5 class ="card-title">{{ product.name }}</h5></a>
                    <p class="card-text">{{ product.description }}</p>
                    <p>€{{ product.price }}</p>
                </div>
                <div class="card-footer">
                    <form method="post" action="{% url 'add_to_cart' product.id %}" id="product-form">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit"><i class="fa fa-cart-plus"></i> Add to Cart</button>
                            </span>
                        </div>
                    </form>
                </div>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}