{% extends 'base.html' %}
{% if messages %}
    <div class="container-fluid">
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
    <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q"></input>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
{% block content %}
<div class="row row-flex">
    {% for product in products %}
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class ="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p>€{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}" id="product-form">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add to Cart</button>
                        </span>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}