/* Styling of headers and body */
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@400;700&family=Libre+Franklin&display=swap');

body {
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 65px;
}

h1, h2, h3, .navbar-brand {
    font-family: 'Bellota', cursive;
}

hr {
    width: 50%;
}

/* HOME PAGE */

/* Carousel */

.carousel-item img {
    height: 66vh !important;
    -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
}

.carousel-title {
    font-size: 5rem;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bolder;
}

.carousel-below-title {
    font-size: 2rem;
    font-family: 'Libre Franklin', sans-serif;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-blue {
    color: #8465e5c7;
    text-shadow: 4px 4px 8px #2e2e95; /* Shading for the word 'BLUE' */
}

/* Various Home features */

#body-bg {
    background-color: white;
}

.top-head {
    padding-top: 20px;
    padding-bottom: 10px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/* Jumbotron - inspired by the code written on https://css-tricks.com/apply-a-filter-to-a-background-image/*/
.jumbotron {
    position: relative;
}

.jumbotron::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-image: url('../assets/img/jumbo.jpg');
    background-size: cover;
    position: absolute;
    filter:opacity(30%);
    margin-bottom: 0px;
}

#jumbo-image {
    position: relative;
}

/* Quote sourced from https://www.w3schools.com/bootstrap4/bootstrap_carousel.asp*/
#quote {
    background: radial-gradient(#2e2e95,#8465e5c7);
    color: white;
    padding: 50px 0px;
    height: 250px;
}

@media only screen and (max-width: 600px) {
  #quote {
    height: 300px;
  }
}

/* Contact form section - another from UI gradients - https://uigradients.com/#Dull*/

#form-section {
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* contact form */
#qform {
    border-radius: 10px;
}

.btngen {
    letter-spacing: 0.1rem;
    filter:drop-shadow(4px 4px 6px gray);
}

.blockquote-footer {
    color: #fff;
    text-emphasis: bolder;
    text-transform: uppercase;
}


/* TREATMENTS PAGE */
.card {
    max-width: 540px;
    height: 320px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
    margin: 10px;
}

caption p {
    word-wrap: break-word;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card-body {
    border: 1px solid white;
}

.card-text {
    min-height: 40px;
}

.text-truncate {
  overflow: hidden;
  max-width: 75ch;
}

/* INDIVIDUAL TREATMENT PAGE https://www.w3schools.com/howto/howto_css_user_rating.asp */

.heading {
  font-size: 25px;
  margin-right: 25px;
}

/* .fa {
  font-size: 25px;
} */

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
/* .bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
} */

/* Individual bars */
/* .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;} */

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
/* @media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  } */
  /* Hide the right column on small screens */
  /* .right {
    display: none;
  }
} */


/* PROFILE SECTION */
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  border-radius: 25px;
}

/* .chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
} */

#pemail {
    float:right;
}

/* CART SECTION */

#cartSection {
    display: flex;
    justify-content: center;
}

.input-group-addon {
    padding-right: 10px;
}

.card-deck {
    margin-top: 20px;
}

/* Media queries */

/* Small devices (426px and down) */
@media screen and (max-width: 426px) {
  .carousel-item img {
    height: 40vh !important;
  }
}