/* HOME PAGE */
body {
    font-family: Arial;
}

#body-bg {
    background-color: #d0e5f5;
}

.top-head {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Add some shadows to create a card effect */
.chead {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
  height: 150px;
}

#ccon {
  padding: 0 16px;
}

/* Clear floats */
#ccon::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/* Jumbotron */
.jumbotron {
    background-image: url("../assets/img/jumbo.jpg");
    background-size: cover;
    color: black;
}

#jumbocon {
    padding: 0px;
}

/* TREATMENTS PAGE */
.card {
    max-width: 540px;
    height: 320px;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
    margin: 10px;
}

caption p {
    word-wrap: break-word;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card-body {
    border: 1px solid white;
}

.card-text {
    min-height: 40px;
}

.text-truncate {
  overflow: hidden;
  max-width: 75ch;
}

/* PROFILE SECTION */
#avatar {
    border: solid black 1px;
}

/* CART SECTION */
.cartman {
    border: solid gray 1px;
}