{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Claire's Massages</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8">
            <h4 class="text-center">Beaumont, Dublin</h4>
            <p class="text-center">I am a fully trained, accredited massage therapist based in Dublin with an inhouse service specializing in a number of treatments to restore your body and mind to full health.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br>
<hr>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-xs-12 col-md-7">
        <blockquote class="blockquote text-right">
        <p class="mb-2">"A massage is just like a movie, really relaxing and a total escape, except in a massage you're the star. And you don't miss anything by falling asleep!"</p>
        <footer class="blockquote-footer">Elizabeth Jane Howard</footer>
        </blockquote>
    </div>
</div>
<br>
<hr></hr>
<div class="container" style="background: floralwhite;">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="container">
                <h2 class="text-center">Treatments</h2>
                    <p class="text-center">Full-Body (FB) massages involve the use of specialist equipment and it is necessary therefore that these be conducted at the practitioner's premises.</p>
                    <ul>
                        <li>Holistic | Oncology FB Massage</li>
                        <li>Shoulder | Face | Back Massage</li>
                        <li>Pregnancy Masssage <span class="badge badge-success">New!</span></li>
                        <li>Foot and Leg Massage</li>
                        <li>Lymphatic Drainage FB Massage</li>
                    </ul>
                <div class="text-center main-btn"><a href="{% url 'products' %}" class="btn btn-primary btn-md active" role="button" aria-pressed="true">Treatments</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2379.361058701526!2d-6.2254905848169!3d53.390480879106555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e32ab400c55%3A0x315ba379240c5918!2sBeaumont%20Hospital!5e0!3m2!1sen!2sie!4v1579780991133!5m2!1sen!2sie" width="400" height="300" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="container">
                <h2 class="text-center">Book In</h2>
                    <p class="text-center">Prefer to pay in person? That's fine!
                    <br></br>
                    I accept cash payment on the day of the treatment, and you can also pay for treatments in advance.
                    <br></br>
                    To book a slot, check out my calendar by clicking below, choose a treatment, day and time and then fill out your details.</p>
                    <div class="text-center">
                        <!-- Calendly link widget begin -->
                        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
                        <a href="" class="btn btn-danger btn-md active" role="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/a-reid'});return false;">Book In</a>
                        <!-- Calendly link widget end -->
                    </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- Form section -->
<div class="container" id="form">
    <h1 class="text-center">Got a Question?</h1>
    <br>
        <form>
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="staticEmail">Name</label>
                <input type="text" class="form-control" placeholder="Enter name">
            </div>
            <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Scouts honour.</small>
            </div>
        </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Comment</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="What's on your mind?"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
</div>
<!-- End Form Section -->

{% endblock %}

{% block page_title %}Home Page{% endblock %}

{% block page_heading %}Home{% endblock %}