{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}
<!-- User Login -->
<h1 class="top-head text-center">User Login</h1>
<hr>
<div class="row">
    <div class="col-xs-12 col-md-4 offset-md-4">
        <form method="POST">
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        <button type="submit" class="btn btn-primary btngen">Login</button>
        </form>
        <br>
        <div>
            <small><a href="{% url 'password_reset' %}">Reset Password</a></small>
        </div>
    </div>
</div>
<hr>
{% endblock %}
