{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1 class="top-head text-center">Profile</h1>
<hr>
<div class="row my-5">
    <div class="col-xs-12 col-md-6 offset-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">
                {% block page_title %}{{ user }}'s Profile{% endblock %}
                <span id="pemail"><small>{{ profile.email }}</small></span>
            </li>
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center"><em>In Your Shopping Cart</em> <i class="fa fa-shopping-basket"></i></li>
            {% for item in cart_items %}
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
            {{ item.product.name }}
            <span class="badge badge-primary badge-pill">{{ item.quantity }}</span>
            {% endfor %}</li>
        </ul>
        <div class="mx-auto text-center mt-4">
            <a href="{% url 'checkout' %}" class="btn btn-success btngen" role="button">Checkout</a>
        </div>
    </div>
</div>
{% endblock %}