{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block content %}
<h2 class="top-head text-center">Register</h2>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-xs-12 col-md-4">
        <form method="POST">
            {% csrf_token %}
            {{ registration_form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <br>
        <div class="text-center">
            <small><em>Already have an account? <a href="{% url 'login' %}">Sign in</a></em></small>.
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
{% endblock %}
