{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicon-16x16.png' %}">
    <!-- Title -->
    <title>Lavender Blue | Dublin Massages</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-expand-lg bg-info navbar-dark fixed-top">
        <a class="navbar-brand" href="/">Lavender Blue</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapsible navbar on mobile devices -->
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}"><i class="fa fa-user fa-2x"></i> Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out fa-2x"></i> Log Out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}"><i class="fa fa-heart fa-2x"></i> Treatments</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-user-plus fa-2x"></i> Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in fa-2x"></i> Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}"><i class="fa fa-heart fa-2x"></i> Treatments</a>
                        </li>
                    {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart fa-2x"></i> Cart
                                {% if product_count > 0 %}
                                <label class="badge badge-warning">{{ product_count }}</label>
                                {% endif %}
                            </a>
                        </li>
                </ul>
                    <form action="{% url 'search' %}" class="form-inline" method="get">
                        <input type="text" name="q" class="form-control mr-sm-2" placeholder="Treatment"></input>
                        <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
                    </form>
            </div>
    </nav>
    <!-- End Fixed Masthead -->

    {% block content %} {% endblock %}

    <!-- Footer -->
	<footer class="footer text-center bg-dark pt-5">
		<div class="container mb-5">
			<div class="row">

				<!-- Footer Address -->
				<div class="col-lg-4 mb-5 mb-lg-0">
					<h4 class="text-uppercase mb-4">Location</h4>
					<p class="lead mb-0 text-white">Beaumont
						<br>Dublin, Ireland</p>
				</div>

				<!-- Footer Social Icons | Dummy Values used as placeholders -->
				<div class="col-lg-4 mb-5 mb-lg-0">
					<h4 class="text-uppercase mb-4">Get Social With Me!</h4>
					<!-- Facebook -->
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook-f mx-2 fa-3x"></i>
                    </a>
                    <!-- Twitter -->
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter mx-2 fa-3x"></i>
                    </a>
                    <!--Instagram-->
                    <a href="#" target="_blank">
                        <i class="fa fa-instagram mx-2 fa-3x"></i>
                    </a>
				</div>

				<!-- Footer Email -->
				<div class="col-lg-4">
					<h4 class="text-uppercase mb-4">Email</h4>
					<p class="lead mb-0 text-white">claire@clairereid.com</p>
				</div>

			</div>
		</div>
        <!-- Footer Copyright -->
        <div class="footer-copyright text-center text-white mt-2 py-3 bg-info">© 2020 Copyright:
            <a href="#"> Claire Reid</a>
        </div>
	</footer>
    <!-- End footer -->

    <!-- Script tags -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Strip JS loader for checkout -->
    {% block stripe_js %}{% endblock stripe_js %}
</body>
</html>